@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.header-container{
    background-color: #0077CC;
    color: white;
    text-align: center;
    padding: 20px 0px;
}

body{
    background-color: white;
    color: #333;
    line-height: 1.5;
}

main{
    max-width: 800px;
    margin: auto;   
}

.link{
    color: white;
    text-decoration: none;
}

link:visited{
    color:aqua;
}

.link:hover{
    color: yellow;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.subtitulo{
    margin: 20px 0px;
}

.list-ativ{
    margin: 20px;
}

.citacoes{
    background-color: #e9ecef;
    border-left: 5px solid #0077cc;
    font-style: italic;
    margin-bottom: 20px;
    padding: 20px
}

footer{
    color: white;
    text-align: center;
    background-color: #343a40;
    padding: 20px;
    margin-top: 50px;
}